<nav>
    <h1>Prohlížeč databáze zaměstnanců</h1>
    <ul>
        <li><a href="/active/public/room/list.php">Místnosti</a></li>
        <li><a href="/active/public/employee/list.php">Lidé</a></li>
    </ul>

    {{#logged}}
        <a class="btn btn-primary" href="/logout.php">Odhlásit se</a>
    {{/logged}}
    {{^logged}}
        <a class="btn btn-primary" href="/active/public/login.php">Přihlásit se</a>
    {{/logged}}
</nav>